In [1]:
mytuples=("1","2","3","4","5")
print(mytuples)

('1', '2', '3', '4', '5')

In [2]:
print(mytuples[1])

2

In [3]:
print(mytuples[-1])

5

In [4]:
print(mytuples[1:5])

('2', '3', '4', '5')

In [5]:
print(mytuples[-1:-5])

()

In [6]:
print(mytuples[-5:-1])

('1', '2', '3', '4')

In [7]:
thistuples=list(mytuples)
thistuples[1]="7"
mytuples=tuple(thistuples)

In [8]:
print(mytuples)

('1', '7', '3', '4', '5')

In [10]:
for mytuples in thistuples:
    print(mytuples)

1
7
3
4
5

In [11]:
if "7" in thistuples:
    print("Yes, '7' is in fruits tuple")

Yes, '7' is in fruits tuple

In [12]:
print(len(thistuples))

5

In [13]:
thistuples[3]="2" #this will raise an error
print(thistuples)

['1', '7', '3', '2', '5']

In [14]:
thistuples=("4",)
print(type(thistuples))

<class 'tuple'>

In [16]:
#NOT a tuple
thistuples = ("4")
print(type(thistuples))

<class 'str'>

In [19]:
tuple1= ("a","b","c")
tuple2=(1,2,3)
tuple3=tuple1+tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [20]:
thistuple = tuple(("a","b","c")) #note the double round-brackets
print(thistuple)

('a', 'b', 'c')

In [24]:
mytuples=("1","2","3","4","5")
del mytuples
print(mytuples) #this will raise an error because the tuple no longer exists

NameError: name 'mytuples' is not defined